.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 3.4em;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 0.6em;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.2);
  padding: 2em;
  margin: 1em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.btn {
  background-color: var(--primary-color);
  display: inline-block;
  padding: 0.7em 2em;
  border: none;
  border-radius: 0.2em;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}

/* Backgrounds and Colored Buttons */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}

.text-center {
  text-align: center;
}

/* Text Colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

/* Margins */
.my-1 {
  margin: 1em 0;
}
.my-2 {
  margin: 1.5em 0;
}
.my-3 {
  margin: 2em 0;
}
.my-4 {
  margin: 3em 0;
}
.my-5 {
  margin: 4em 0;
}
.m-1 {
  margin: 1em;
}
.m-2 {
  margin: 1.5em;
}
.m-3 {
  margin: 2em;
}
.m-4 {
  margin: 3em;
}
.m-5 {
  margin: 4em;
}

/* Paddings */
.py-1 {
  padding: 1em 0;
}
.py-2 {
  padding: 1.5em 0;
}
.py-3 {
  padding: 2em 0;
}
.py-4 {
  padding: 3em 0;
}
.py-5 {
  padding: 4em 0;
}
.p-1 {
  padding: 1em;
}
.p-2 {
  padding: 1.5em;
}
.p-3 {
  padding: 2em;
}
.p-4 {
  padding: 3em;
}
.p-5 {
  padding: 4em;
}

/* Text Sizes */
.lead {
  font-size: 1.2em;
}

.sm {
  font-size: 1em;
}

.md {
  font-size: 2em;
}

.lg {
  font-size: 3em;
}

.xl {
  font-size: 4em;
}

/* Alerts */
.alert {
  background-color: var(--light-color);
  padding: 0.7em 1.2em;
  font-weight: bold;
  margin: 1em 0;
}

.alert i {
  margin-right: 0.7em;
}

.alert-success {
  background-color: var(--success-color);
  color: #fff;
}

.alert-error {
  background-color: var(--error-color);
  color: #fff;
}
